[submodule "software/lib/micropython"]
	path = software/lib/micropython
	url = ../micropython.git
[submodule "software/lib/micropython-mfrc522"]
	path = software/lib/micropython-mfrc522
	url = ../micropython-mfrc522.git
[submodule "software/lib/microdot"]
	path = software/lib/microdot
	url = ../microdot.git
[submodule "software/tools/mklittlefs"]
	path = software/tools/mklittlefs
	url = https://github.com/earlephilhower/mklittlefs.git
