# Configuration for using openocd with Tigard, an FT2232H based open hardware
# debugging interface:
#   https://github.com/tigard-tools/tigard
#
# Wiring instructions:
# 1. Disconnect the Tigard
# 2. Set voltage selection switch to 3.3 V
# 3. Set mode switch to SWD
# 4. Connect Tigard 'TCK/CLK/SCL'  to Pico 'SWCLK'
# 5. Connect Tigard 'GND'          to Pico 'GND'
# 6. Connect Tigard 'TDI/COPI/SDA' to Pico 'SDWIO'
#
# Now power the target and run openocd:
#   $> openocd -f <path/to>/tigard-swd.cfg
#
# The individual cores are now reachable over gdb servers at ports
# - 3333 (core 0) and
# - 3334 (core 1)
#
# The openocd control interface is availabel at telnet port 4444.

source [find interface/ftdi/tigard.cfg]

ftdi layout_signal SWD_EN -data 0
adapter speed 2000

source [find target/rp2040.cfg]
source [find mem_helper.tcl]

rp2040.core0 cortex_m reset_config sysresetreq
rp2040.core1 cortex_m reset_config sysresetreq

# Set the 'pause on debug' bit of the watchdog to prevent a reset of the target
# after halting it (see src/main.py, which sets up the watchdog). Hook the
# function to the 'halted' event of both cores.
proc pause_watchdog_on_debug {} {
	mmw 0x40058000 0x07000000 0x00000000
}

rp2040.core0 configure -event halted pause_watchdog_on_debug
rp2040.core1 configure -event halted pause_watchdog_on_debug
